@model IEnumerable<Apex.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicioscol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicioscol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idservicios">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idservicios">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idservicios">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
